### Préparation des données

#### Import des librairies & Acquisition des données

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.feature_selection import VarianceThreshold
import seaborn as sns
import warnings
warnings.filterwarnings("ignore", category=Warning)
from sklearn.impute import KNNImputer
from sklearn.impute import MissingIndicator

In [4]:
data = pd.read_csv("data/06e9c61d-e45f-4d74-beb5-e5e53ac6d2de.csv")

In [5]:
data.head()

,Unnamed: 0,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,2072,-119.84,36.77,6.0,1853.0,473.0,1397.0,417.0,1.4817,72000.0,INLAND
1,10600,-117.80,33.68,8.0,2032.0,349.0,862.0,340.0,6.9133,274100.0,<1H OCEAN
2,2494,-120.19,36.60,25.0,875.0,214.0,931.0,214.0,1.5536,58300.0,INLAND
3,4284,-118.32,34.10,31.0,622.0,229.0,597.0,227.0,1.5284,200000.0,<1H OCEAN
4,16541,-121.23,37.79,21.0,1922.0,373.0,1130.0,372.0,4.0815,117900.0,INLAND

#### Changement des nom des colonnes

In [7]:
data = data.rename(columns={'Unnamed: 0': 'ID logement', 
                          'housing_median_age': 'Age moyen logement', 
                          'total_rooms': 'Total pieces', 
                          'total_bedrooms': 'Total chambres', 
                          'population': 'Nb personne logement', 
                          'households': 'Nb famille logement', 
                          'median_income': 'Salaire median logement',
                          'median_house_value': 'Valeur moyenne logement',
                          'ocean_proximity': 'Proximation Ocean'})

In [8]:
data.head()

,ID logement,longitude,latitude,Age moyen logement,Total pieces,Total chambres,Nb personne logement,Nb famille logement,Salaire median logement,Valeur moyenne logement,Proximation Ocean
0,2072,-119.84,36.77,6.0,1853.0,473.0,1397.0,417.0,1.4817,72000.0,INLAND
1,10600,-117.80,33.68,8.0,2032.0,349.0,862.0,340.0,6.9133,274100.0,<1H OCEAN
2,2494,-120.19,36.60,25.0,875.0,214.0,931.0,214.0,1.5536,58300.0,INLAND
3,4284,-118.32,34.10,31.0,622.0,229.0,597.0,227.0,1.5284,200000.0,<1H OCEAN
4,16541,-121.23,37.79,21.0,1922.0,373.0,1130.0,372.0,4.0815,117900.0,INLAND

#### Vérification de la présence de doublons

In [10]:
def doublon_column(column):
    new_column = column.drop_duplicates()
    if not len(column) == len(new_column):
        return True
    return False

In [11]:
doublon_column(data['ID logement'])

False

#### Encodage des variables catégorielles

In [12]:
data["Proximation Ocean"].value_counts()

<1H OCEAN     7312
INLAND        5235
NEAR OCEAN    2140
NEAR BAY      1821
ISLAND           4
Name: Proximation Ocean, dtype: int64